/* Must use at least one media query. Must use some Flexbox. */

@import url('https://fonts.googleapis.com/css2?family=Source+Serif+Pro:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Source Serif Pro', serif;
    text-decoration: none;
}

body {
    font-family: 'Source Serif Pro', serif;
    background-color: #fff0dd
}

header {
    position: fixed;
    height: 100px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #ddecff;
}

#header-img {
    text-align: left;
    max-height: 100%;
}

#nav-bar {
    float: right;
    margin-right: 15px;
}

#nav-bar ul {
    list-style-type: none;
    margin-right: 10px;
}

#nav-bar li {
    text-align: right;
    display: inline-block;
    margin-left: 20px;
}

#nav-bar a {
    text-decoration: none;
    text-transform: uppercase;
    padding: 6px;
    font-size: 18px;
}

#form-section {
    padding-top: 100px;
}

section {
    display: block;
    width: 100%;
    margin: 0 auto;
}

#form {
    text-align: center;
}

#form, #features {
    display: block;
    width: 90%;
    margin: 0 auto;
    padding: 5% 0;
}

#form > *, #features > * {
    margin-bottom: 20px;
}

label input {
    display: block;
    width: 70%;
    margin: 0 auto;
}

#submit {
    display: block;
    margin: 0 auto;
    padding: 7px;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 1px;
    color: white;
    text-transform: uppercase;
    background-color: #2300e9;
}

.features {
    width: 80%;
    margin: 0 auto;
}

.features p {
    margin-top: 10px;
    font-family: 'Source Serif Pro';
}

#video-section, #packages {
    display: block;
    width: 90%;
    margin: 0 auto;
    padding: 3% 0;
}

iframe {
    display: block;
    margin: 0 auto;
}

#packages {
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 50px;
}

.packages {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: solid black 1px;
    width: calc(100%/3);
    margin: 0 35px;
}

.packages > * + * {
    margin: 10px 0;
}

.packages ul {
    text-align: center;
    padding: 0;
    list-style-type: none;
}

.packages li {
    margin-bottom: 10px;
}

.package {
    background-color: #ddecff;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 20px;
    padding: 7px 0;
    border-bottom: solid black 1px;
}

.cost {
    font-size: 24px;
    font-weight: bold;
}

footer {
    margin: 50px 10px 20px 0;
    text-align: right;
}

footer a {
    margin-left: 20px;
    text-decoration: none;
}

footer p {
    margin-top: 5px;
}