@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');

/*

#4056A1 - blue
#D79922 - gold
#F13C20 - red
#C5CBE3 - light blue
#EFE2BA - beige

*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
}

body {
    display: block;
    text-align: center;
    font-family: 'Oswald', sans-serif;
    background-color: #EFE2BA;
}

#navbar {
    position: fixed;
    height: auto;
    width: 100%;
    background-color: #C5CBE3;
}

#navbar ul {
    display: inline-block;
    list-style-type: none;
    list-style-position: inside;
    width: 100%;
    text-align: right;
}

#navbar ul li {
    display: inline-block;
    margin: 20px 0 20px 20px;
}

#navbar ul li a {
    text-decoration: none;
    font-size: 24px;
    font-weight: 400;
    letter-spacing: 1.5px;
    color: #4056A1;
}

#navbar ul li:last-child {
    margin-right: 20px;
}

#welcome-section {
    padding-top: 10vh;
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    align-items: center;
    justify-content: space-around;
    color: #4056A1;
}

#welcome-section h1 {
    font-size: 64px;
}

#welcome-section h2 {
    font-size: 48px;
}

#welcome-section h1, #welcome-section h2 {
    font-weight: 400;
    letter-spacing: 2px;
    text-shadow: 5px 5px 5px #D79922;
}

#projects {
    min-height: 100vh;
    width: 100%;
    max-width: 750px;
    padding-top: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 0 auto;
}

.project-tile {
    margin: 30px 0;
    height: 50%;
    max-width: 300px;
    border: solid #4056A1 2px;
    background-color: #C5CBE3;
}

.project-tile a {
    text-decoration: none;
    font-size: 24px;
}

.project-tile img {
    object-fit: cover;
    object-position: 0 0;
    height: 35vh;
    width: 100%;
}

.project-tile p {
    margin-bottom: 10px;
}

#profile {
    background-color: #D79922;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 100vh;
    padding: 0 2rem;
}

#profile h1 {
    font-size: 64px;
}

#profile p {
    font-size: 36px;
}

#profile li {
    display: inline-block;
    margin: 0 60px;
}

#profile li a {
    max-height: 10vh;
    text-decoration: none;
}

#profile img {
    object-fit: cover;
}

.github {
    max-height: 40px;
}

#fcc {
    max-height: 36px;
}

footer {
    width: 100%;
    height: 10vh;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

footer p:last-child {
    margin: 0 50px;
}

@media only screen and (max-height: 350px) {
    .github {
        max-height: 7vh;
    }

    #fcc {
        max-height: 7vh;
    }
}